RFC8740

> _Originally opened by [`@dimaqq`](https://github.com/dimaqq) on 2020-02-28 01:08:59 in [encode/httpx](https://github.com/encode/httpx/issues/833)_

TL;DR: when TLS 1.3 connection is used for HTTP/2, some TLSy things are forbidden

>   HTTP/2 servers MUST NOT send post-handshake TLS 1.3
>   CertificateRequest messages.  HTTP/2 clients MUST treat such messages
>   as connection errors (see Section 5.4.1 of [RFC7540]) of type
>   PROTOCOL_ERROR.

https://tools.ietf.org/html/rfc8740

Hopefully this can be solved by come ssl context flag...
Perhaps `httpx` may have to wait for OpenSSL and/or CPython to implement required hooks first.

> _Originally posted by [`@florimondmanca`](https://github.com/florimondmanca) on 2020-03-05T18:57:22Z_

`@dimaqq` Have you confirmed this is something we *don't* verify right now? Asking because this looks like an `h2`-level point of concern. Also, any reproduction case yet? If this isn't an immediate issue, I'm thinking we might as well close this for housekeeping purposes, and happily revisit later when users start coming across issues with such faulty servers.